:root {
    --color-backcolorwebsite: #121212;
    --color-backcolorwebsitesection: #1E1E1E;
    --color-textwebsite: #E0E0E0;
    --color-texttitleortext: #66CC99;
    --color-buttonslinksbackcolor: #2E8B57;
    --color-buttonslinkstextcolor: #FFFFFF;
    --color-sectionbackcolor: #222222;
    --color-sectionbordercolor: #3CB371;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: var(--color-textwebsite);
    background-color: var(--color-backcolorwebsite);
}

h1 {
    color: var(--color-texttitleortext);
    font-size: 48px;
    text-align: center;
    padding: 5px;
}

.h1_1 {
    border-top: 6px solid var(--color-sectionbordercolor);
    border-bottom: 6px solid var(--color-sectionbordercolor);
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p, li {
    font-size: 20px;
}

.div_1 {
    padding: 10px;
    border-left: 6px solid var(--color-sectionbordercolor);
    border-right: 6px solid var(--color-sectionbordercolor);
}

a {
    font-size: 18px;
    text-decoration: none;
    font-style: italic;
    border-radius: 6px;
    padding: 6px 12px;
    background-color: var(--color-buttonslinksbackcolor);
    color: var(--color-buttonslinkstextcolor);
    transition: all 0.3s ease;
    display: inline-block;
}

a:hover {
    border: 3px solid var(--color-textwebsite);
    background-color: var(--color-texttitleortext);
    color: var(--color-backcolorwebsite);
}

.div_2 {
    display: flex;
    background-color: var(--color-sectionbackcolor);
    border-left: 6px solid var(--color-sectionbordercolor);
    border-right: 6px solid var(--color-sectionbordercolor);
    justify-content: center;
    gap: 20px;
    padding: 15px;
}

.veryobjectdiv_2, .veryobjectdiv_3, .veryobjectfooter {
    padding: 10px;
}

.objectdiv_2, .objectdiv_3, .objectfooter {
    border-top: 6px solid var(--color-sectionbordercolor);
    border-bottom: 6px solid var(--color-sectionbordercolor);
}

.div-scroll {
    overflow: auto;
    max-height: 800px;
    scrollbar-width: none;
}

.div-scroll::-webkit-scrollbar {
    display: none;
}

.div_3 {
    padding: 20px;
    background-color: var(--color-sectionbackcolor);
    border-left: 6px solid var(--color-sectionbordercolor);
    border-right: 6px solid var(--color-sectionbordercolor);
    height: 800px;
    max-width: 1000px;
    max-height: 800px;
    margin: 0 auto;
}

.cplusplus-text-main-section {
    font-weight: 600;
    color: var(--color-texttitleortext);
}

footer {
    margin-top: 20px;
}

.divfooter {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-sectionbackcolor);
    border-left: 6px solid var(--color-sectionbordercolor);
    border-right: 6px solid var(--color-sectionbordercolor);
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.divfooter ul {
    list-style: none;
    padding: 0;
}

.divfooter li {
    margin: 5px 0;
}
