:root {
    --color-backcolorwebsite: #121212;
    --color-backcolorwebsitesection: #1E1E1E;
    --color-textwebsite: #E0E0E0;
    --color-texttitleortext: #66CC99;
    --color-buttonslinksbackcolor: #2E8B57;
    --color-buttonslinkstextcolor: #FFFFFF;
    --color-sectionbackcolor: #222222;
    --color-sectionbordercolor: #3CB371;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: var(--color-textwebsite);
    background-color: var(--color-backcolorwebsite);
}

h1 {
    color: var(--color-texttitleortext);
    font-size: 48px;
    text-align: center;
    padding: 5px;
}

.h1_1 {
    border-top: 6px solid var(--color-sectionbordercolor);
    border-bottom: 6px solid var(--color-sectionbordercolor);
}

.div_1 {
    padding: 4px;
    border-left: 6px solid var(--color-sectionbordercolor);
    border-right: 6px solid var(--color-sectionbordercolor);
}

a {
    font-size: 18px;
    text-decoration: none;
    border-radius: 3px;
    padding: 2px 6px;
    background-color: var(--color-buttonslinksbackcolor);
    color: var(--color-buttonslinkstextcolor);
    font-style: italic;
    transition: all 0.3s ease;
}

a:hover {
    background-color: var(--color-texttitleortext);
    color: var(--color-backcolorwebsite);
    border: 3px solid var(--color-textwebsite);
    padding-left: 4px;
    padding-right: 4px;
}

.veryobjectdiv_2 {
    padding: 4px;
}

.objectdiv_2 {
    padding: 4px;
    border-top: 6px solid var(--color-sectionbordercolor);
    border-bottom: 6px solid var(--color-sectionbordercolor);
}

.div_2 {
    display: flex;
    background-color: var(--color-sectionbackcolor);
    border-left: 6px solid var(--color-sectionbordercolor);
    border-right: 6px solid var(--color-sectionbordercolor);
    justify-content: space-around;
    padding: 5px;
}

.veryobjectdiv_3 {
    padding: 4px;
    border-left: 6px solid var(--color-sectionbordercolor);
    border-right: 6px solid var(--color-sectionbordercolor);
}

.div-scroll::-webkit-scrollbar {
    display: none;
}

.objectdiv_3 {
    display: flex;
    padding: 4px;
    border-top: 6px solid var(--color-sectionbordercolor);
    border-bottom: 6px solid var(--color-sectionbordercolor);
    height: 800px;
    max-width: 100%;
    max-height: 800px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    flex-wrap: wrap;
    justify-content: center;
}

.div_3 {
    height: auto;
    max-width: 1000px;
}

.veryobjectfooter {
    padding: 4px;
    border-top: 6px solid var(--color-sectionbordercolor);
    border-bottom: 6px solid var(--color-sectionbordercolor);
}

.objectfooter {
    padding: 20px;
    border-top: 6px solid var(--color-sectionbordercolor);
    border-bottom: 6px solid var(--color-sectionbordercolor);
}

.divfooter {
    display: flex;
    padding: 40px;
    border-left: 6px solid var(--color-sectionbordercolor);
    border-right: 6px solid var(--color-sectionbordercolor);
    max-width: 100%;
    max-height: 300px;
    justify-content: space-around;
}

.divfooter ul {
    list-style: none;
}

.divfooter li {
    padding: 5px;
}
